<nav class="ui menu">
    <div class="ui large top inverted fixed hidden menu">
        <div class="ui container">
            <header class="ui header item"> Playlist </header>
            <div class="right menu">
                <div class="item">
                    <a id="signup" class="ui button inverted" href="/signup">Sign Up</a>
                </div>
                <div class="item">
                    <a id="login" class="ui button inverted" href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>