{{> menu id="dashboard"}}

<section class="ui segment two column grid">
    <div class="column">
       {{> suggestions}}
    </div>
    <div class="column">

        {{> listplaylists}}
        {{> addplaylist}}
    </div>
</section>
