{{> menu id="dashboard"}}

<section class="ui segment">
  {{> suggestions}}
  
  <section class="ui segment">
    <h2 class="ui header">
      Your Playlists
    </h2>
    {{> listplaylists}}
    {{> addplaylist}}
  </section>
</section>
